.cat-home {
   
}
.home-cat_tag{
    display: inline-flex;
    padding: 10px;
    background: linear-gradient(145deg,  rgba(16, 26, 83, 0.92), rgba(31, 36, 59, 0.96) );
    margin-bottom: 16px;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    border: solid 1px;
    border-color: rgb(75, 75, 75);
    border-radius: 15px;

}
.home-cat-box {
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    gap: 50px;
}

.home-cat__btn {
    display: flex;
    gap: 16px;
    margin-top: 20px;

}

.home-cat__title {
    font-size: 50px;
    background: linear-gradient(to bottom, #ffffff 0%, #d9c2ff 45%, #6b4dff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent
}

.home-cat__media {
  width: 100%;
  opacity: 0.75;
  -webkit-mask-image: radial-gradient(circle, black 25%, transparent 76%);
  mask-image: radial-gradient(circle, black 25%, transparent 76%);
}
