.cat-home {
    padding-bottom: 32px;
}

.home-cat-box {
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    gap: 50px;
}

.home-cat__btn {
    display: flex;
    gap: 24px;
    margin-top: 12px;

}
